

body {
  background-image: url("sea.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
}
.main{
  padding: 0px 10px 10px 10px;
}
h1{
  font: 20px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #4D474A;
  border-bottom: 2px solid #736d71;
}
.button{
  width: 120px;
  height: 120px;
  margin: 0px 0px 10px 10px;
  border-radius: 5px;
  display: inline-block;
  background:18px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: #fff;
  font-size: 40px;
}
#message{
  font: 20px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #FFFF66;
  border-bottom: 2px solid #736d71;
}

a{
  color: #fff;
}

/*========= particle js を描画するエリア設定　キラキラ星 ===============*/

html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 4;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 10%;
}

/*========= ハート用CSS ===============*/
.mask {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
}
.shape {
  height:1;
}


/*========= 動くハート用CSS ===============*/
.heart {
  font-size: 40px;
  color: #FF3D67;
  margin: 50px 0 0
}
.heart:hover {
  -webkit-animation: heart-anim 1s linear .3s;
  animation: heart-anim 1s linear .3s;
}

/* Animation setting */
@-webkit-keyframes heart-anim {
  to {
    opacity: 0;
    -webkit-transform: scale(20);
  }
}
@keyframes heart-anim {
  to {
    opacity: 0;
    transform: scale(50);
  }
}

/* Basic style */
body {
  text-align: center;
}
